body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("./assets/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-weight: 400, 500, 600, 700;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
}
#overall {
    display: flex;
    position: relative;
    gap: 6rem;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#left {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 100vh;
}
#right {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 100vh;
    gap: 1.5rem;
}
.input-wrapper {
  position: relative;
  display: flex; 
}
#myForm {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    gap: 0.7rem;
    width: 27rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow:  0 0.4rem rgba(0, 0, 0, 0.15);
}
#purple-box {
    display: flex;
    gap: 0.3rem;
    background-color: hsl(248, 32%, 49%);
    width: 31rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow:  0 0.4rem rgba(0, 0, 0, 0.15);
}
h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}
#see {
    font-size: 1rem;
    color: white;
    line-height: 25px;
}
#try {
    font-size: 0.875rem;
    color: white;
}
#then {
    font-size: 0.875rem;
    color: hsl(246, 25%, 77%);
}
#terms {
    font-size: 0.75rem;
    color: hsl(246, 25%, 77%);
}
a {
    font-size: 0.75rem;
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}
input {
    display: block;
    width: 23.7rem;
    height: 1rem;
    padding: 1rem;
    margin-bottom: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 6px;
    font-size: 12px;
}
input:focus {
    outline: none;
    border-color: hsl(0, 3%, 7%);
}
input::placeholder {
  color: hsl(246, 25%, 40%);
  transition: color 0.3s ease;
}
input.error {
    border-color: hsl(0, 100%, 74%);
}
.error {
    position: relative;
    color: hsl(0, 100%, 74%);
    font-size: 0.75rem;
    font-style: italic;
}
.error-icon {
  position: absolute;
  right: 1rem;
  top: 45%;
  transform: translateY(-50%);
  background-color: hsl(0, 100%, 74%);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.875rem;
  display: none;
  pointer-events: none;
  z-index: 1;
}
.submit-btn {
    background-color: hsl(154, 59%, 51%);
    width: 26rem;
    height: 3rem;
    font-size: 0.875rem;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0.2rem hsl(154, 79%, 32%);
}
.submit-btn:hover {
    background-color: hsl(154, 59%, 45%);
    box-shadow: 0 0.3rem hsl(154, 79%, 32%);
}
.submit-btn:disabled {
    background-color: hsl(138, 25%, 61%);
    cursor: not-allowed;
}
@media screen and (max-width: 1024px) {
    body {
        background-image: url("./assets/bg-intro-mobile.png");
    }
    #overall {
        flex-direction: column;
        height: 90vh;
        gap: 0.3rem;
    }
    #left {
        width: 95vw;
        height: 20vh;
        gap: 0;
        justify-content: flex-end;
    }
    #right {
        width: 90vw;
        height: 70vh;
        align-items: center;
        justify-content: flex-start
    }
    #myForm {
        width: 65%;
        /* padding-bottom: 1rem;
        padding-top: 2rem; */
        gap: 0.4rem;
    }
    #purple-box {
        width: 75%;
        height: 3rem;
    }
    h1 {
        font-size: 2.2rem;
        text-align: center;
    }
    input {
        width: 50vw;
        height: 1rem;
    }
    .submit-btn {
        width: 55vw;
        height: 2.7rem;
    }
    #see {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        width: 85%;
    }
}
@media screen and (max-width: 475px) {
    body {
        background-image: url("./assets/bg-intro-mobile.png");
        overflow: hidden;
    }
    #overall {
        flex-direction: column;
        gap: 1.5rem;
        width: 90vw;
        height: 100vh;
    }
    #left {
        width: 90vw;
        justify-content: flex-start;
    }
    #right {
        width: 90vw;
        align-items: center;
        justify-content: flex-start;
        padding-top: 2rem;
        gap: 0.9rem;
    }
    #myForm {
       width: 75%;
    }
    #purple-box {
       width: 91%;
       height: 3rem;
    }
    h1 {
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
    #try, #then {
      font-size: 0.75rem;
    }
    input {
        width: 60vw;
        height: 1.4rem;
        padding: 0.7rem;
    }
    .submit-btn {
        width: 65vw;
        height: 2.5rem;
        font-size: 0.75rem;
    }
    #see {
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: center;
        width: 100%;
    }
    #terms {
        text-align: center;
        width: 90%;
        line-height: 14px;
    } 
    #try {
        text-align: center;
        width: 45%;
        line-height: 19px;
    }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
