body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: poppins, sans-serif;
}
.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  background: #f9fafb;
  color: #111827;
  align-items: center;
  justify-content: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 70vw;
  height: 85vh;
  padding: 1.25rem 1.25rem 1.25rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  gap: 1rem;
}
.content-box {
  background: #f9fafb;
  border-radius: 0.5rem;
  height: 95%;
  border: 1px dashed #d1d5db;
}
.logo {
  font-weight: bold;
  font-size: 1rem;
}
.menu-btn {
  position: relative;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #cfd8dc; 
  border-radius: 20px;       
  padding: 8px;
  width: 15vw;
  height: 1.4rem;
  background-color: white;
}
.search-icon {
  color: #90a4ae; 
  font-size: 0.9rem;
}
#search-input {
  width: 60%;
  padding: 5px;
  margin-top: 5px;
  font-size: 0.875rem;
  color: #333;
  border: none;
  outline: none;
}
#search-input::placeholder {
  color: #90a4ae;
}
.notif {
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
}
.right {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.welcome-message {
  font-size: 0.8rem;
  font-weight: bold;
}
.profile-pic {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar {
  width: 20vw;
  height: 100vh;
  background: #f9fafb;
  padding: 1rem;
  margin-top: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.2s ease-in-out;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.dropdown {
  border-bottom: 1px solid #f3f4f6;
  padding-bottom: 6px;
  transition: transform 0.2s ease-in-out;
}
.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px 2px;
  font-weight: 500;
  color: #374151;
  transition: transform 0.2s ease-in-out;
}
.dropdown-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.2s ease-in-out;
}
.dropdown-header:hover {
  background: #e5e7eb;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  color: black;
}
.dropdown-list {
  list-style: none;
  padding: 0;
  margin-top: 4px;
  transition: transform 0.2s ease-in-out;
}
.dropdown-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 6px 2px;
  cursor: pointer;
  color: #4b5563;
  font-size: 0.875rem;
}
.dropdown-list li:hover {
  background: #e5e7eb;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  color: black;
}
.network-item svg {
  font-size: 20px;
}
.purple svg {
  color: #8b5cf6;
  background: #f3e8ff;
  border-radius: 10px;
  padding: 5px;
}
.yellow svg {
  color: #f59e0b;
  background: #fef9c3;
  border-radius: 10px;
  padding: 5px;
}
.green svg {
  color: #22c55e;
  background: #dcfce7;
  border-radius: 10px;
  padding: 5px;
}
.badge {
  margin-left: auto;
  font-size: 0.75rem;
  padding: 0.125rem 0.375rem;
  border-radius: 0.75rem;
  background: black;
  color: white;
}
.badge.gray {
  background: #e5e7eb;
  color: #374151;
}
.dropdown-list .purple {
  color: #7c3aed;
}
.dropdown-list .yellow {
  color: #f59e0b;
}
.dropdown-list .green {
  color: #10b981;
}
.back {
  position: relative;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.back:hover {
  background-color: hsl(154, 59%, 45%);
  box-shadow: 0 0.1rem hsl(154, 79%, 32%);
}
.sidebar-footer {
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}
@media (max-width: 1024px) {
  .main-content {
    width: 83vw;
    height: 87vh;
  }
  .sidebar {
    position: absolute;
    top: 3.125rem;
    bottom: 0;
    left: 0.8rem;
    width: 40vw;
    margin: auto;
    transform: translateX(-100%);
    z-index: 10;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .menu-btn {
    display: block;
  }
  .search-icon {
  font-size: 0.8rem;
}
#search-input {
  font-size: 0.8rem;
  color: #333;
}
.sidebar-footer {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
}
}
@media (max-width: 475px) {
  .sidebar {
    left: 0.65rem;
  }
  .search-bar {
    width: 20vw;
  }
  #search-input {
    height: 0.7rem;
    padding: 0;
    font-size: 0.7rem;
  }
}